 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
header {
    padding:10px;
    text-align: center;
    background-color:#192a56;
    color:#fff;
}
form {
    max-width:600px;
    width:100%;
    background-color:aqua;
    display:block;
    justify-content: space-beteewn;
    align-items: center;
}

