 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
header {
    padding:10px;
    text-align: center;
    background-color:#192a56;
    color:#fff;
}
form {
    background-color:aqua;
    display:flex;
    justify-content: space-beteewn
}

