 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
header {
    padding:10px;
    text-align: center;
    background-color:#192a56;
    color:#fff;
}
.container {
    margin: 0 auto;
    max-width:1024px;
    width:100%;
}
form {
    display:block;
    max-width:240px;
    width:100%;
    justify-content: space-beteewn;
}
form input{
    padding:4;
    width:100%;
}

